<!DOCTYPE html>
<html>
<head>
  <style>
  .first {
    background:#FCC;
    padding:12px;
    border-radius: 3px;
  }
  .title {
    cursor: pointer
  }
  .ad {
    position:fixed;
    bottom:0;
  }
  </style>
  <title>Reddit Media Player</title>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41646350-9', 'auto');
  ga('send', 'pageview');

  </script>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" href="lib/bootstrap-3.3.4-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="lib/font-awesome.css" />
  <link rel="stylesheet" href="lib/bootstrap-switch.min.css" />
  <!-- SPELLS -->
  <!-- load angular and angular route via CDN -->
  <script src="lib/jquery-2.1.3.min.js"></script>
  <script src="lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="lib/angular-sanitize.js"></script>
  <script src="lib/angular-touch.min.js"></script>
  <script src="lib/bootstrap-switch.min.js"></script>
  <script src="lib/iframe_api"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="lib/api.js"></script>
  <script src="lib/froogaloop2.min.js"></script>
  <script src="lib/froogaloop2.min.js"></script>
  <script src="script.js"></script>
  <script src="controllers.js"></script>
  <script src="controllers/text.js"></script>
  <script src="services.js"></script>
  <script src="controllers/comments.js"></script>
  <script src="controllers/images.js"></script>
  <script src="controllers/custom.js"></script>
  <script src="controllers/audio-video.js"></script>

</head>
<body ng-app="app">
<div ng-controller="Ctrl">
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="#/">Reddit Media Player</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li ng-repeat="btn in menu.btns"><a class="link" ng-click="btn.fn()"><i ng-class="'glyphicon glyphicon-'+btn.btnName"></i></a></li>
        <li ng-repeat="btn in menu.txtBtns"><a class="link" ng-click="ytonly(btn.fn)">{{btn.txt}}</a></li>
        <li><a class="link" ng-click="clearCache()">Clear Cache</a></li>
        </ul>
      </div>
    </div><!--/.container-fluid -->
  </nav>
</header>
<div class="container" style="margin-top:70px;margin-bottom:140px;">
  <div ng-view></div>
</div>
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Reddit Media Player -->
<div class="ad">
<ins id="ad" class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5931961133736315"
     data-ad-slot="2492276257"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
$('#ad').css('width', (window.innerWidth/2)+'px')
$('#ad').css('height', (window.innerWidth/2*0.12362637362)+'px')

</script>
</body>
</html>
