<form class="form">
  <div class="form-group">
    <label>Subreddit</label>
    <div class="input-group">
      <input class="form-control" ng-model="sub">
    </div>
  </div>
  <div class="form-group">
    <label>Media Type</label>
    <select class="form-control" ng-model="type">
      <option value="img">Images/Gifs</option>
      <option value="audvid">Audio/Video</option>
      <option value="com">Comments</option>
      <option value="txt">Text</option>
    </select>
  </div>
  <p>
    For multiple, just separate with a '+' sign.
  </p>
  <button ng-click="save()" class="btn btn-default">Add to My Subs</button>
  <br>
  <br>
  <a ng-href="/#/{{type}}/{{sub}}"><button class="btn btn-primary">Go to</button></a>
</form>
<br><br>
<div ng-repeat="thissub in subs track by $index">
  <button class="btn btn-danger" ng-click="delete($index)">{{thissub.sub}}</button>
  <br><br>
</div>
